@font-face {
    font-family: 'Digital-7';
    src: url('fonts/digital-7.ttf'), format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid green; */
}

header {
    height: 100px;
    padding: 30px;
    font-size: 24px;
    text-align: center;
}

.calculator-body {
    /* border: 3px solid red; */
    border-radius: 10px;
    /* width: 350px; */
    width: 270px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-left: 41%;
    background-color: slateblue;

}

.calculator-display {

    height: 65px;
    /* width: 325px; */
    width: 250px;
    margin: 5px;
    padding: 12px;
    font-family: 'Digital-7', sans-serif;
    font-size: 36px;
    border: 3px solid black;
    text-align: right;
    background-color:  #06B515;
    overflow: auto;
}

.buttons-section {
    margin: 5px;
    border: 3px solid black;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    margin: 6px;
    padding: 0;
    border: none;
    background-color: #545e17;
    border-radius: 10%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    /* transition: transform 900ms; */
}

.front {
    display: block;
    transform: translateY(-4px);
    padding: 15px;
    border-radius: 10%;
    /* background-color: #BDCD5A; */
    background-color: #abb663;
    will-change: transform;
    transition: transform 200ms;
}

button:hover .front{
    transform: translateY(-5px);
    filter: brightness(110%);
}

button:active .front{
    /* box-shadow: none; */
    transform: translateY(0.5px);
    background-color: #BDCD5A;
}

.active .front{
    transform: translateY(0.5px);
    background-color: #BDCD5A;
}
